---

---

<div class="bg-black dark:bg-transparent dark:border-b dark:border-slate-800 text-slate-400 text-center py-2">
  <span class="font-semibold text-white">Code Promo :</span>
  <span class="bg-slate-700 text-white font-bold px-2 py-1 rounded ml-2">HEBSERV20</span>
  <span class="text-sm ml-2">Obtenez 20% de réduction jusqu'au <strong>28 février 2025</strong>.</span>
</div>
