---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import { getHeaderData, getFooterData } from '~/navigation';
import { getLangFromUrl } from '~/i18n/utils';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  class?: string;
}

const { metadata, class: className } = Astro.props;

// Récupérer la langue à partir de l'URL
const lang = getLangFromUrl(Astro.url);

// Récupérer les données du header et du footer en fonction de la langue
const headerData = getHeaderData(lang);
const footerData = getFooterData(lang);
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main class:list={["flex-1", className]}>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>